lab_data/3gene/*
!lab_data/3gene/.gitkeep

lab_data/3gene_UFBoot/*
!lab_data/3gene_UFBoot/.gitkeep

lab_data/ldh/*
!lab_data/ldh/.gitkeep

lab_data/ldh/out/*
!lab_data/ldh/out
!lab_data/ldh/out/.gitkeep


lab_data/out/*
!lab_data/out/.gitkeep

lab_data/*.tre
lab_data/*.txt
/Notung-*
